<h2>{{message}}</h2>
<mat-card class="book-card mx-auto">
  <mat-card-header>
    <mat-card-title>{{book.title}}</mat-card-title>
    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
  </mat-card-header>
  <img class="my-4" mat-card-image src="https://picsum.photos/600/800.webp" alt="Book cover">
  <mat-card-content>
    <p>{{book.synopsis}}</p>
    <p>ISBN: {{book.ISBN}}</p>
    <p>#Completed: {{book.completion}}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="accent"[routerLink]="['/editbook',book.id]">EDIT</button>
    <button mat-button color="warn" (click)="delete(book.id)">DELETE</button>
  </mat-card-actions>
</mat-card>
