<mat-toolbar color="primary">

  <img class="h-full p-10" src="assets/logo.png" alt="Logo librino">
  <a routerLink="/">Librino</a>

  <span class="spacer"></span>

  <div *ngIf="!isLoggedIn()">
    <a routerLink="/login">
      <button mat-flat-button color="primary">Login</button>
    </a>
    <a routerLink="/register">
      <button mat-raised-button color="warn">Register</button>
    </a>
  </div>

  <div *ngIf="isLoggedIn()" class="flex">

      <span class="my-auto"> Welcome {{username}}</span>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['booklist']">
          <mat-icon>book</mat-icon>
          <span>Library</span>
        </button>
        <button mat-menu-item [routerLink]="['/addbook']">
          <mat-icon>add</mat-icon>
          <span>Add book</span>
        </button>
        <button mat-menu-item (click)="signout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
</mat-toolbar>
